@model BMT_Web.Models.Dto.ContactDTO

<form asp-action="DeleteContact">
    <br />
    <div class="container border p-3">
        <h3 class="text-primary">Delete Contact</h3>
        <hr />

        <input hidden asp-for="Id" />
        <div class="row">
            
            <div class="col-2">
                <label asp-for="Firstname" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Firstname" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Lastname" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Lastname" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="CompanyName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CompanyName" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Mobile" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Mobile" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="Email" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" disabled class="form-control" />
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexContact" asp-controller="Contact" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
